
<section class="registroView">
   <div><h2 class="registroTitle">Registrar nova entrega</h2></div>
   <table>
      <tr>
         <td><label>Restaurante </label></td>
         <td><input id="entrega-restaurante-input" [(ngModel)]="entrega.restaurante" ></td>
      </tr>
      <tr>
         <td><label>Endereço </label></td>
         <td><input id="entrega-endereco-input" [(ngModel)]="entrega.endereco" ></td>
      </tr>
      <tr>
         <td><label>Lucro </label></td>
         <td><input id="entrega-lucro-input" type="number" [(ngModel)]="entrega.lucro" ></td>
      </tr>
      <tr>
         <td><label>Tempo de Preparo </label></td>
         <td><input id="entrega-tempo_preparo-input" type="number" [(ngModel)]="entrega.tempo_preparo" ></td>
      </tr>
      <tr>
         <td><button id="register-entrega" (click)="createEntrega(entrega)">Adicionar</button></td>
      </tr>
   </table>
</section>  