<h1>Entregadores!</h1>
<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" name="entregas_disponiveis" routerLink = "/entregas_disponiveis">Entregas Disponíveis</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="minhas_entregas" routerLink = "/minhas_entregas">Minhas Entregas</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="registrar_entrega" routerLink = "/registrar_entrega">Registrar Entrega</a>
    </div>
</nav>